<!-- Footer Start -->
<footer class="footer h-16 flex items-center px-6 bg-white shadow dark:bg-gray-800">
    <div class="flex justify-center w-full">
        <div>
            <script>document.write(new Date().getFullYear())</script> © Current Tech</a>
        </div>
    </div>
</footer>
<!-- Footer End -->
